.home-container {
  min-height: 100vh;
  width: 100%;

  background:
    linear-gradient(
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1)
    ),
    url("/img/Admin-home.jpg") center / cover no-repeat;

  display: flex;
  flex-direction: column;
}

.navigation-menu {
  z-index: 10;
}


.home-container .nav-item a {
  color: #e3c08d;
}

.home-container .nav-item a.disabled {
  color: #898071;
}

.home-container .navigation-menu {
  position: relative;
  z-index: 10000;
  color: #efefee;
  font-size: 40px;
  margin-top: 30px;
  font-family: monospace;
}














